{% extends 'index.html' %}
{% load staticfiles %}

{% block titulo %} Post {% endblock %}

{% block imagen %}
    {% static 'img/post-bg.jpg' %}
{% endblock %}

{% block titulo_principal %}
    {{post.titulo}}
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3>{{ post.titulo }}</h3>
                <big>{{post.descripcion}}</big>
                <p>{{post.contenido|safe}} </p>
            </div>
        </div>
    </div>
{% endblock %}
