{% extends 'index.html' %}

{% block titulo %} Listado de Autores {% endblock %}

{% block body %}
    {% if autores %}
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Nacionalidad</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for autor in autores %}
                    <tr>
                        <td>{{ autor.id }}</td>
                        <td>{{ autor.nombre }}</td>
                        <td>{{ autor.apellidos }}</td>
                        <td>{{ autor.nacionalidad }}</td>
                        <td>{{ autor.descripcion }}</td>
                        <td><a href="{% url 'libro:editar_autor' autor.id %}">Editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No existen autores registrados.</h4>
    {% endif %}

{% endblock %}
